// Theme colors

$primary: #438ffe;
$secondary: #fe764b;
$success: #8bc38a;
$danger: #e43536;
$warning: #dc9909;
$info: #83bcbd;
$white: #ffffff;

// icon

$icon-color: #abb1bf;
$icon-container-bg-primary-color: #edf4ff;
$icon-container-bg-info-color: #f3f9f9;


// text color
$text-color: #160e4d;
$muted-text: #9fa9bc;

// border
$border-color: #e2e2e2;

// Body
$body-color: $white;


// heading
$h1-color: $text-color;

// container
$body-color:#f8f8f8;
$container-text-color:$text-color;


// Header
$header-bg-color: $white;

$header-brand-icon-color: $primary;
$header-placeholder-color: $muted-text;
$notification-badge-color: $icon-color;

// sidebar

$sidebar-bg-color: $white;
$sidebar-icon-color: $icon-color;
$sidebar-icon-hover-color: $primary;


// card-theme-color;

$card-bg-color: $white;
$card-hover-color: $white;
$card1-color: $primary;
$card2-color: $success;
$card3-color: $primary;
$card4-color: $info;
$card-up-chart-icon-color: $success;
$card-down-chart-icon-color: $secondary;


// table

$table-body-bg-color:$white;
$table-row-bg-color:#f5f7f9;
$table-row-color:$text-color;
$table-head-row-color:$text-color;


// chart
$total-views-color:$info;
$total-sells-color:$secondary;



$card-theme-colors: (
  "card1": $card1-color,
  "card2": $card2-color,
  "card3": $card3-color,
  "card4": $card4-color,
);


$theme-colors: (
  "primary": $primary,
  "secondary":$secondary,
  "warning": $warning,
  "success": $success,
  "danger": $danger,
  "info": $info,
  
);
