// Global styles goes here


// Global styles goes here

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //   font-size: 1rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: $font-family;
  background-color: $body-color;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 1.5;

}

// flex styles
.d- {
   &flex {
      display: flex;
  }
}



.flex- {
  &column {
      flex-direction: column;
  }

  &grow- {
      &0 {
          flex-grow: 0;
      }

      &1 {
          flex-grow: 1;
      }
  }

  &shrink- {
      &0 {
          flex-shrink: 0;
      }

      &1 {
          flex-shrink: 1;
      }
  }

  &wrap {
      flex-wrap: wrap;
  }

  &nowrap {
      flex-wrap: nowrap;
  }
}





.align-items-center {
  align-items: center;
}


.justify-content-{
  
      &between {
          justify-content: space-between;
      }

      &center {
          justify-content: center;
      }

      &evenly {
          justify-content: space-evenly;
      }

      &around {
          justify-content: space-around;
      }
  
}


// flex styles ends

// position classes start
.position- {
  &relative {
      position: relative;
  }

  &absolute {
    position: absolute;
  }
}
// position classes end


// overflow start

.overflow-{
  &hidden{
    overflow: hidden;

  }
  &auto{
    overflow: auto;

  }
  &vertical{
  overflow-x: hidden;
  overflow-y: auto;

}
 &horizontal{
  overflow-x: auto;
  overflow-y: hidden;

 }
}

// overflow end


// height width class start
@each $percent in (25, 50, 75, 100) {
  .h-#{$percent} {
      height: 1% * $percent;
  }

  .w-#{$percent} {
      width: 1% * $percent;
  }
}
// height width class end

//icon
.icon {
  display: block;
}


.icon-graph-up {
  color: $success;
}
.icon-graph-down {
  color: $secondary;
}
// image
img {
  max-width: 100%;
  height: auto;
}

// table
.table-cell {
  text-align: left;
}

  
  
  // text align start
  
  .text- {
      &center {
          text-align: center;
      }
  
      &left {
          text-align: left;
      }
  
      &right {
          text-align: right;
      }
  }
  
  // text align end
  
  // to reserve space for scroll-bar before it apppears
  .gutter-stable {
      scrollbar-gutter: stable;
  }