// Header area style
.header {
  background-color: $header-bg-color;
  height: $header-height;
  padding: 0 2.5rem;
  border-bottom: $border-bottom;
  .icon-square {
    color: $primary;
    padding-right: 2.5rem;
    text-shadow: 5px -5px #c7deff;
  }

  .search-container {
    padding-left: 2rem;
    height: 44px;
    @include mobile {
      height: 30px;
      padding-left: 1rem;
    }
    .seacrh-icon-container {
      background-color: $body-color;
      padding: 0 1rem;
    }
  }

  #search {
    background-color: $body-color;
    width: 320px;
    border: none;
    outline: none;
    transition: all 0.4s;

    @include mobile {
      width: 0;
      &:focus {
        width: 25vw;
      }
    }
  }

  .search {
    @include mobile {
      // display: none;
    }
  }
}
.search-button {
  padding: 0 1.25rem;
  color: $white;
  border: none;
}

.notification-container {
  @include position(relative);
  #notification {
    display: none;
  }
  .nav-list {
    @include mobile {
      flex-direction: column-reverse;
      @include position(absolute, -1rem, 0);
    }
    .nav-item {
      padding: 1rem 1.125rem;
      transition: all 0.4s;
      @include mobile {
        visibility: hidden;
        transform: translateY(-100px);
        &:last-child {
          visibility: visible;
          transform: translateY(0);
        }
        // display: none;
      }
      .profile-photo {
        border-radius: 100%;
        height: 42px;
        width: 42px;
      }
      .tiding {
        height: 0.5rem;
        width: 0.5rem;
        background-color: $secondary;
        border-radius: 50%;
        right: 20%;
        top: 20%;
      }
      .icon-keyboard_arrow_right {
        font-size: 0.75rem;
        transform: rotate(90deg);
      }
    }
  }
  @include mobile{
    #notification:checked ~ .nav-list{
      .nav-item{
        visibility: visible;
        transform: translateY(0px);
        &:last-child {
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
}

