.sidebar {
  width: 100px;
  padding: 0.25rem;
  background-color: $white;
  transition: all $transition-timing;

  .nav-links {
    margin-bottom: 4rem;
    .nav-list {
      .nav {
        &-item {
          padding: 1rem;
          margin: 1rem;
          transition: all $transition-timing;
        }
        &-active {
          .icon-radix_dashboard {
            color: $primary;
          }
        }
      }
    }
  }

  @include mobile {
    width: 0;
    transform: translateX(-100%);
    @include position(absolute, 0, auto, 0, 0);

    .nav-item {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

#toggleCheckbox {
  display: none;
}
.toggle-checkbox-label {
  top: 50%;
  right: -20px;
  z-index: 999;
  transition: all $transition-timing;
  .icon-keyboard_arrow_right {
    font-size: 1rem;
  }
}

#toggleCheckbox:checked {
  ~ .sidebar {
    transform: translateX(-100px);
    width: 0;
    .toggle-checkbox-label {
      transform: rotate(180deg);
      right: -110px;
    }
    @include mobile {
      width: 100px;
      transform: translateX(0);

      .nav-item {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
