.sidebar {
width: 100px;
  padding:.25rem ;
    overflow-y: auto;
    overflow-x: hidden;

  
  
  .nav-links {
    .nav-list {
      .nav {
        &-item {
          padding: 1rem ;
          margin: 1rem ;
        }
        &-active{
            .icon-radix_dashboard{
                color: $primary;
            }
        }
      }
    }
  }
}

#toggleCheckbox {
  display: none;
}
.toggle-checkbox-label {
    right:  -16%;
    top: 50%;
    z-index: 999;
    .icon-keyboard_arrow_right{
        font-size: 1rem;
    }
  }

  #toggleCheckbox:checked ~ .toggle-checkbox-label {
      
    transform: rotate(180deg) ;
    }
    #toggleCheckbox:checked ~ .sidebar{
width: 10px;
    }