.table-container {
  width: 70%;
  padding: 0.75rem;
  .table-head-container{
    padding: 1.5rem;
    background-color: $white;
  }
  .table-body-container{
    padding: 0 1.5rem;
    background-color: $white;
  }
  tbody {

    
  }
  .table-head {
    
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing:0 ;
    
    background-color: $white;

    //  .table{
    &-cell {
      padding: 1rem;
     
    }
    &-row {
      td {
        background-color: #f8f8f8;
        border-bottom: .75rem solid white;
        .product-image {
          height: 45px;
          width: 45px;
        }
      }
    }
    &-head {
      th {
        padding: 0 1.25rem;

      }
    }

    // }
  }
}
