.table-container {
  width: 70%;
  padding: 0.75rem;
  table-layout: fixed;
  border-collapse: separate;
  tbody {
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow: auto;
    height: 100%;
  }
  .table-head {
    display: flex;
    // flex-direction: column;
    width: 100%;
  }
  .table {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    background-color: $white;
    border-spacing: 0 1rem;

    //  .table{
    &-cell {
      padding: 0 1.25rem;
      width: 16.66%;
    }
    &-row {
      td {
        background-color: #f8f8f8;
        .product-image {
          height: 52px;
          width: 52px;
        }
      }
    }
    &-head {
      th {
        padding: 0 1.25rem;

      }
    }

    // }
  }
}
