@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?k6g5o8');
  src:  url('fonts/app.eot?k6g5o8#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?k6g5o8') format('truetype'),
    url('fonts/app.woff?k6g5o8') format('woff'),
    url('fonts/app.svg?k6g5o8#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e903";
}
.icon-exclamation:before {
  content: "\e904";
}
.icon-shopping_bag:before {
  content: "\e905";
}
.icon-multi_user:before {
  content: "\e906";
}
.icon-notepad:before {
  content: "\e907";
}
.icon-logout:before {
  content: "\e908";
}
.icon-notification_bell:before {
  content: "\e909";
}
.icon-radix_dashboard:before {
  content: "\e90a";
}
.icon-square:before {
  content: "\e90b";
}
.icon-show_chart:before {
  content: "\e90d";
}
.icon-keyboard_arrow_right:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e986";
}
